<div class="calc">
  <div class="row">
    <div class="col">
      {{mathSign}}
    </div>
      <div class="col">
        <div class="row">
          {{prescreen}}
        </div>
        <div class="row">
          {{screen}}
        </div>
      </div>
      <div class="col">
        {{#if mathSign}}
          {{calc-button
            textKey = 'C'
            pressButton = (action "display")
          }}
        {{else}}
          {{calc-button
            textKey = 'AC'
            pressButton = (action "display")
          }}
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{calc-button
          textKey = '7'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '8'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '9'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '*'
          pressButton = (action "display")
        }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{calc-button
          textKey = '4'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '5'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '6'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '/'
          pressButton = (action "display")
        }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{calc-button
          textKey = '1'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '2'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '3'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '+'
          pressButton = (action "display")
        }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{calc-button
          textKey = '0'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '.'
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '='
          pressButton = (action "display")
        }}
      </div>
      <div class="col">
        {{calc-button
          textKey = '-'
          pressButton = (action "display")
        }}
      </div>
    </div>
</div>

{{outlet}}
